.preloader{
    width: 100%;
    height: 10px;
    animation-name: preloaderAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background: linear-gradient(to right, crimson, gold, yellowgreen, teal, crimson);
    background-position: 0 0;
    background-size: 600px;
}

@keyframes preloaderAnimation {
    to{
        background-position: 600px 0;
    }

}